html{background-image: url("images/1-big-viburnum.jpg"); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: center center;}
.header{background-color: rgba(193, 184, 173, 60%);}
.main{background-color: rgba(250, 235, 215, 60%);}
.nav{background-color: rgba(250, 235, 215, 60%);}