.header{background-image: url(images/3-fruit.jpg); border-top-color:brown; border-top-width: 8px; border-top-style: solid; height: 300px; background-size: cover;}
.site-id{background-color: rgba(255, 255, 255, 30%); text-align: center; }